<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Sistema Médico</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal" ></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Medicos</strong></h4>              
          <div class="card-body">
            <a class="btn btn-success" th:href="@{/medicos/create}" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nuevo</a>            
            <hr>
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Cédula</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Hospital</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each=" medico : ${medicos}" >
                  <th th:text="${medico.id}"  scope="row"></th>
                  <td th:text="${medico.cedula}" ></td>
                  <td th:text="${medico.persona.nombre}" ></td>
                  <td th:text="${medico.persona.apellidos}" ></td>
                  <td th:text="${medico.persona.telefono}" ></td>
                  <td th:text="${medico.hospital.nombre}" ></td>
                  <td class="d-flex"  >
                    <a th:href="@{${'/medicos/edit/'+medico.id}}" class="btn btn-primary btn-sm" role="button" title="Editar"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <form th:action="@{/medicos/delete}" method="post"  >
                      <input type="hidden" name="id" th:value="${medico.id}" >
                      <button onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></button>
                    </form>
                  </td>
                </tr>
                              
              </tbody>
            </table>

            <nav th:if="${medicos.totalPages > 0}" aria-label="Page navigation example" >
              <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${medicos.number == 0 ? 'disabled' : ''}">
                  <a th:href="@{/medicos/index(page=${medicos.number - 1})}" class="page-link">Anterior</a>
                </li>
                      
                <li class="page-item" th:classappend="${i eq medicos.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, medicos.totalPages, 1)}">
                  <a class="page-link" th:href="@{/medicos/index?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${medicos.number == (medicos.totalPages - 1) ? 'disabled' : ''}">
                  <a th:href="@{/medicos/index(page=${medicos.number + 1})}" class="page-link">Siguiente</a>
                </li>
              </ul>
            </nav>
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer::pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>