<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Sistema Médico</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal" ></header>
    <h1>Agregar Paciente</h1>
    
    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos del paciente</strong></h4>              
          <div class="card-body">
            <form th:action="@{/pacientes/save}" method="post" th:object="${paciente}" >    
              <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert" >
                Por favor corrija los errores:
                <ul>
                  <li th:each=" err: ${#fields.errors('*')}" th:text="${err}" ></li>
                </ul>
              </div>              
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <input type="hidden" name="id" th:field="*{id}" />
                    <input type="hidden" name="id" th:field="*{persona.id}" />
                    <label for="nombre">Nombre</label>
                    <input th:field="*{persona.nombre}" type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el nombre del paciente" required="required">
                  </div>
                </div>                
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input th:field="*{persona.apellidos}" type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Escriba los apellidos del paciente" required="required">
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input th:field="*{persona.telefono}" type="text" class="form-control" id="telefono" name="telefono" placeholder="Escriba el telefono del paciente" required="required">
                  </div>
                </div>                
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="padecimiento">Padecimiento</label>
                    <input th:field="*{padecimiento}" type="text" class="form-control" id="padecimiento" name="padecimiento" placeholder="Escriba el padecimiento del paciente" required="required">
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="edad">Edad</label>
                    <input th:field="*{edad}" type="text" class="form-control" id="edad" name="edad" placeholder="Escriba la edad del paciente" required="required">
                  </div>
                </div>                
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="peso">Peso</label>
                    <input th:field="*{peso}" type="text" class="form-control" id="peso" name="peso" placeholder="Escriba el peso del paciente" required="required">
                  </div>
                </div>                
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="talla">Talla</label>
                    <input th:field="*{talla}" type="text" class="form-control" id="talla" name="talla" placeholder="Escriba la talla del paciente" required="required">
                    <input th:value="${0}"  type="hidden" class="form-control" id="num_estudios" name="num_estudios" required="required">
                  </div>
                </div>                  
              </div> 
              
              <hr>
              <button type="submit" title="Guardar el registro." class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> 

    </main> 

    
    <footer th:insert="fragments/footer::pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="@{bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
